<p>
	Generate {% if interpreter.slug == "js-node" %}an Array{% else %}a list{% endif %} of zeros (0) of given size
</p>



<p>
    <strong>Input: </strong> Size as Int.
</p>

<p>
    <strong>Output: </strong> {% if interpreter.slug == "js-node" %}an Array{% else %}a list{% endif %}.
</p>



<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">genArrZero(0) == []
genArrZero(1) == [0]
</pre>
{% else %}
<pre class="brush: python">gen_arr_zero(0) == []
gen_arr_zero(1) == [0]
</pre>
{% endif %}
</div>

